.about
{
   
    background-color: #1E2846;
    
}
.about h3
{
    color: #4BD1FF !important;

}

.about p
{
  
}
.serviceCard
{
    background-color: #2A6582 !important;
    border-radius: 20px !important;
    box-shadow: none ;
}
.serviceCard1
{
    background-color: #1e485d !important;
    border-radius: 20px !important;
    box-shadow: none ;
}
.laneIcon {
    color: #FFA500;
    
  }
  .laneIcon1 {
    color: red;
    
  }

.textcolor
{
    color: #4BD1FF !important;
}
.edit3{
    display: flex;
   
   justify-content: center;
}
.edit2{
    display: flex;
   
   
}

.join {
    background-color: #2A6582 !important;
    color: white !important;
    transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }
  
  .join:hover {
    transform: translateY(-9px);
    background-color: #2A6582 !important;
    border: 1px solid #4BD1FF !important;
    color: #f4f5f5 !important;
    transition: transform 0.3s ease-in-out, background-color 1s ease-in-out, color 1s ease-in-out;
  }