header
{
    background-image: url(../images/Rectangle\ 5.png);
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
}
body::-webkit-scrollbar {
    display: none;
  }
  .join {
    background-color: #2A6582 !important;
    color: white !important;
    transition: transform 0.3s ease-in-out, background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }
  
  .join:hover {
    transform: translateY(-9px);
    background-color: #2A6582 !important;
    border: 1px solid #4BD1FF !important;
    color: #f4f5f5 !important;
    transition: transform 0.3s ease-in-out, background-color 1s ease-in-out, color 1s ease-in-out;
  }
.hh
{
    letter-spacing: 1px;
}

.popUp
{
    background-color: #314164;
}

.popUp .formControl
{
    background-color: #465578 !important;
    border: 0px;
    color: white !important;
    
}

.popUp .formControl::placeholder { 
    color: #4BD1FF !important;
    opacity: 0.4;
    
}

.registerBtn
{
    background-color: #314164;
}

.loginBtn
{
    background-color: #2A6582 !important;
}

.submitBtn
{
    background-color: #2A6582 !important;
    color: white !important;
    border: none !important;
    
    padding: 10px 30px !important;
    text-align: center !important;
    text-decoration: none !important;
    margin-left: auto !important;
}

