.navbarBg
{
    background-color: #2B3C60;
}
.logo
{
    color: #4BD1FF !important;
    display: flex;
    align-items: center;
    
} 


.togglerColor
{
    color: #4BD1FF !important;
}
.img1{
    height: 40px;
    padding-right: 5px;
}
.fixedtop {
    z-index: 999;
    
  }