.navbarBg
{
    background-color: #2B3C60;
}
.logo
{
    color: #4BD1FF !important;
} 


.togglerColor
{
    color: #4BD1FF !important;
}

.navitem{
    
}
.color{
    color: #4BD1FF !important;
}
.profile{
    margin-left: 90vh;
}

@media (max-width: 480px) {
    .profile{
        margin-left: 0px;
    }
  }
