.navbarBg
{
    background-color: #2B3C60;
}
.logo
{
    color: #4BD1FF !important;
    display: flex;
    align-items: center;
} 

.img1{
    height: 40px;
    padding-right: 5px;
}



.togglerColor
{
    color: #4BD1FF !important;
}

.navitem{
    
}
.color{
    color: #4BD1FF !important;
}
.profile{
    margin-left: 87vh;
}

@media (max-width: 983px) {
    .profile{
        margin-left: 0px;
    }
  }
